[submodule "Chapter1/ror-tutorial-hello-app"]
	path = Chapter1/ror-tutorial-hello-app
	url = git@github.com:VSPPedro/ror-tutorial-hello-app.git
[submodule "Chapter2/ror-tutorial-toy-app"]
	path = Chapter2/ror-tutorial-toy-app
	url = git@github.com:VSPPedro/ror-tutorial-toy-app.git
[submodule "Chapter3/ror-tutorial-sample-app"]
	path = Chapter3/ror-tutorial-sample-app
	url = git@github.com:VSPPedro/ror-tutorial-sample-app.git
[submodule "Chapter4/ror-tutorial-sample-app"]
	path = Chapter4/ror-tutorial-sample-app
	url = git@github.com:VSPPedro/ror-tutorial-sample-app.git
[submodule "Chapter5/ror-tutorial-sample-app"]
	path = Chapter5/ror-tutorial-sample-app
	url = git@github.com:VSPPedro/ror-tutorial-sample-app.git
